body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dff2ff;
    margin: 0;
  }
  
  header {
    background-color: #83c2f5;
    color: brown;
    padding: 12px 20px;
  }
  
  header span {
    font-weight: bold;
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    background: rgb(233, 232, 232);
    border-radius: 6px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(150, 32, 130, 0.1);
  }
  